a:link, a:visited {
  color: white;
  padding: 2px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:link.view1, a:visited.view1 {
  background-color: limegreen;
}

a:hover.view1, a:active.view1 {
  background-color:green;
}

a:link.view2, a:visited.view2 {
  background-color:yellowgreen;
}

a:hover.view2, a:active.view2 {
  background-color:green;
  ;
}